In [18]:
from jh_utils.data.sql.object import create_object_DB_by_envfile
from jh_utils.data.pandas.sql import write_sql_table, get_sql_table
import pandas as pd

In [19]:
ob = create_object_DB_by_envfile('../../../.env')

In [20]:
ob.uri()

'postgresql://weather:weather123weather@weather:5408/weather'

In [31]:
engine = ob.engine()
df = pd.read_sql_table('stations',schema='public',con=engine)

In [35]:
def base_station_table(path='../../../api/lab/stations.csv'):
    df = pd.read_csv(path)
    df.rename(columns={'first date':'first'}, inplace=True)
    df = df.drop_duplicates('station_code')
    df['collect'] = False
    return df

In [52]:
def write_stations_table(engine):
    df = base_station_table()
    ## setting one state to collect
    df.loc[df['state'] == 'ES','collect'] = True
    write_sql_table(df,
                table_name='stations',
                schema='public',
                engine=engine, 
                if_exists='replace') ## reset replacing
    return 'ok'

In [53]:
write_stations_table(engine)

'ok'

In [56]:
def update_state_to_collect(state):
    ob = create_object_DB_by_envfile('../../../.env')
    engine = ob.engine()
    df = pd.read_sql_table('stations',schema='public',con=engine)
    df.loc[df['state'] == state,'collect'] = True
    write_sql_table(df,
                table_name='stations',
                schema='public',
                engine=engine, 
                if_exists='replace') ## reset replacing
    return 'updated to: True'

def update_state_to_not_collect(state):
    ob = create_object_DB_by_envfile('../../../.env')
    engine = ob.engine()
    df = pd.read_sql_table('stations',schema='public',con=engine)
    df.loc[df['state'] == state,'collect'] = False
    write_sql_table(df,
                table_name='stations',
                schema='public',
                engine=engine, 
                if_exists='replace') ## reset replacing
    return 'updated to: False'

In [ ]:
def get_list_of_stations_to_collect(engine):
    sql_query = f'''
    select s.station_code 
    from public.stations s
    where s.collect=TRUE
    '''
    return list(pd.read_sql(sql_query,con=engine).station_code)