In [4]:
query = '''SELECT c.station,
       c."data",
       c.hora,
       c."temperatura maxima na hora ant. (aut) (°c)",
       c."temperatura minima na hora ant. (aut) (°c)"
FROM public.collected c
JOIN (
    SELECT station, MAX("data") as max_data, MAX(hora) as max_hora
    FROM public.collected
    GROUP BY station
) subq ON c.station = subq.station AND c."data" = subq.max_data AND c.hora = subq.max_hora'''

In [5]:
from jh_utils.data.sql.object import create_object_DB_by_envfile
import pandas as pd
import requests as rq
from api_stations_module import get_list_of_stations_to_collect
from jh_utils.data.pandas.sql import write_sql_table, get_sql_table

In [6]:
ob = create_object_DB_by_envfile('../../../.env')
engine = ob.engine()
df = pd.read_sql(query,con=engine)

In [12]:
print(df.to_string())

  station        data   hora  temperatura maxima na hora ant. (aut) (°c)  temperatura minima na hora ant. (aut) (°c)
0    A634  05/01/2024  19:00                                        26.9                                        26.0
1    A617  05/01/2024  19:00                                        31.5                                        30.3
2    A614  05/01/2024  19:00                                        24.3                                        23.8
3    A616  05/01/2024  19:00                                        33.2                                        26.6
4    A633  05/01/2024  19:00                                        26.6                                        24.6
5    A632  05/01/2024  19:00                                        27.2                                        24.9
6    A631  05/01/2024  19:00                                        31.1                                        25.6
7    A622  05/01/2024  19:00                                        30.0                                        27.9

In [ ]:
def get_temperature_message():
    ob = create_object_DB_by_envfile('../../../.env')
    engine = ob.engine()
    df = pd.read_sql(query,con=engine)
    return df.to_string()

'  station        data   hora  temperatura maxima na hora ant. (aut) (°c)  temperatura minima na hora ant. (aut) (°c)\n0    A634  05/01/2024  19:00                                        26.9                                        26.0\n1    A617  05/01/2024  19:00                                        31.5                                        30.3\n2    A614  05/01/2024  19:00                                        24.3                                        23.8\n3    A616  05/01/2024  19:00                                        33.2                                        26.6\n4    A633  05/01/2024  19:00                                        26.6                                        24.6\n5    A632  05/01/2024  19:00                                        27.2                                        24.9\n6    A631  05/01/2024  19:00                                        31.1                                        25.6\n7    A622  05/01/2024  19:00                                        30.0                                        27.9'

In [ ]:
r = '''SELECT c.station,
       c."data",
       c.hora,
       c."temperatura maxima na hora ant. (aut) (°c)",
       c."temperatura minima na hora ant. (aut) (°c)"
FROM public.collected c
WHERE TO_TIMESTAMP(c."data" || ' ' || c.hora, 'DD/MM/YYYY HH24:MI') >= (CURRENT_TIMESTAMP - INTERVAL '72 hours')'''